/* Referance from chatgpt */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 25px;
  background-color: #0f0e0e;
  border-bottom: 2px solid #eee;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Brand Name */
.brand {
  font-size: 22px;
  font-weight: bold;
  color: #eef2f8; 
  text-decoration: none;
}

.brand:hover {
  color: #084298;
}


.nav-links a {
  margin: 0 12px;
  color: #efe9e9;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}

 /* Hover effect  */
.nav-links a:hover {
  color: #0d6efd;
}
